:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-accent-color: #757575;
    --secondary-text-color: #FFFFFF;
    --aditional-background-color: #2F303A;
    --secondary-logo-color: #000000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding-left: 0;
}

a {
    color: currentColor;
}


ul {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
button {
    display: block;
}